* {
    box-sizing: border-box
}


/* Add paddin to containers*/

.container {
    padding: 20px;
}


/* Full-width input fields */

input[type=text],
input[type=password] {
    width: 100%;
    padding: 20px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1
}

input[type=text]:focus,
input[type=password]:focus {
    background-color: violet;
    outline: turquoise;
}


/* Overwrit
e default styles of hr*/

hr {
    border: 1px solid #f1f1f1;
    margin: 25px;
}


/* Set a style for the submit/register button*/

.registerbtn {
    background-color: cornflowerblue;
    color: darkgrey;
    padding: 16px 20px;
    margin: 8px 0;
    border: silver;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.registerbtn:hover {
    opacity: 1;
}


/*Add a black text color to links*/

a {
    color: black;
}


/*Set a greybackground color abd center the text of the "signup" section*/

.signup {
    background-color: ghostwhite;
    text-align: center;
}